div, header, a, p 
{
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}
header
{	
	width: 100%;
	aheight: 9em;
	background-color: #2D6A8C;
	position : fixed;
	color: white;
	font-size: 1em;	
}
ul#loginBox{
	margin-bottom: 1em;
}
body
{
	abackground-image: url("/img/6-High-Resolution-Colored-Background-Textures-06.jpg");
	background-color: #ECECEA;
}
.navbar-nav>li {
        float: none;
}
.navbar-default {
	background-image: none;
	background-color: #2D6A8C;
	border-color: transparent;
}
.bheader
{
	height: 10em;
}
.progress{
	margin-bottom: 0px;
}
table#header {
	width:100%;
	color: white;
}

table#header tr, td {
	width: auto;
}

td#loginBox {
	padding-right: 0em;
}

p#serverStatus
{ 
	font-weight: bold;
	margin: 0;
	padding: 0.3em;
}
input.textbox
{
	width: 20em;
	border-radius: 3px 3px 3px 3px;
	color: black;
	padding-left: 10px;
	border: 2px solid #3BA2AC;
	height: 2em;
	margin: 1px;

}
tr#loginStatus
{
	font-size: 50%;
	height: 1em;
	padding: 0;
	margin: 0;
}
h5{
	color: DimGrey;
	font-size:1em;
}
h6 {
	color: white;
	text-align: right;
	font-size: 2em;
}
dy {
      padding-top: 20px;
}

.loginBtn#login
{
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	display: inline-block;
	color: #FFFFFF;
	background-color: #0099FF;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	border: 1px solid #296A7B;
	border-radius: 5px;
	white-space: nowrap;
	vertical-align: middle;
	padding:0.5em;
	
}
.loginBtn#login:hover{
	color: #0099FF;
	background-color: #FFFFFF;
}
a:hover{
text-decoration: none;
}
a.red{
	color: #c9302c;
	
}
a.lightgreen{
	color: #449d44 ;
}
a.lightblue{
	color: #31b0d5;
}
a.green{
	color: #00FF00;
}
a.orange{
	color: #ec971f;
}
.footer {
      padding-top: 1em;
        padding-bottom: 1em;
          margin-top: 40px;
            border-top: 1px solid #296A7B;
}


@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}