


td
{
	padding :0em;
	border: 1px solid green;
}

table
{
	awidth: 100%;
	border: 0px solid green;
}
div.center
{
	min-width: 400px;
	height:100%;	
	width: 100%;
	margin-left:6.5%; 
	aborder: 0px solid black;
	padding: 0.5em;
	background-color:white;
}
div.content
{
	text-align: left;
	padding-top: 5em;
	padding-left: 0.5em;
	width: 100%;
}

body 
{
	margin:0;
	padding:0;
}
